html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

hr {
  border: none;
  height: 100%;
  background-color: gray;
  margin: 0 1rem;
  width:0.5px;
}

.RecipeApp {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100vh;
  width: 100vw;
  background-color: #ffeacd;
}

.FilterArea {
  width: 17.5%;
}

.ResultArea {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.RecipeArea {
  width: 45%;
}

.FavoritesArea {
  width:10%;
}

.FilterAreaButtons {
  display: grid;
  grid-template-columns: 80% 20%;
  /* border: red 1px solid; */
}

.GenButton {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.IngredientsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}